body.login {
  background: url("http://mdbootstrap.com/images/regular/nature/img%20(67)") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-section {
  min-width: 400px;
  width: 40%;
  margin: 80px auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
}