.ajax-spinner {
  position: absolute;
  width: 200px;
  height: 100px;
  vertical-align: middle;
  padding-top: 27px;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 20px;
  opacity: 0.8;
}