{% extends 'base.html.twig' %}

{% block body %}
    <section class="section">
        <!--Form without header-->
        <div class="card">
            <div class="card-block">
                <!--Header-->
                <div class="text-xs-center">
                    <h3><i class="fa fa-lock"></i>User Edit</h3>
                    <hr class="mt-2 mb-2">
                </div>
                {% include '@App/Security/_includes/userForm.html.twig' with {form: edit_form} %}
                <div class="modal-footer">
                    <div class="options">
                        {{ form_start(delete_form) }}
                        <button class="btn btn-danger" type="submit">Delete</button>
                        {{ form_end(delete_form) }}
                        <a href="{{ path('user_index') }}">Back to the list</a>
                    </div>
                </div>
            </div>
        </div>
        <!--/Form without header-->
    </section>
{% endblock %}
