{% extends 'base.html.twig' %}

{% block body %}
    <section class="section" xmlns="http://www.w3.org/1999/html">
        <!--Form without header-->
        <div class="card">
            <div class="card-block">
                <!--Header-->
                <div class="text-xs-center">
                    <h3><i class="fa fa-lock"></i>Users list</h3>
                    <hr class="mt-2 mb-2">
                </div>

                <table class="table">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Nick</th>
                        <th>Isactive</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.surname }}</td>
                            <td>{{ user.nick }}</td>
                            <td>{% if user.isActive %}Yes{% else %}No{% endif %}</td>
                            <td>
                                <a href="{{ path('user_show', { 'id': user.id }) }}" class="blue-text">
                                    <i class="fa fa-user"></i>
                                </a>
                                <a href="{{ path('user_edit', { 'id': user.id }) }}" class="teal-text">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="modal-footer">
                    <div class="options">
                        <p><a class="btn btn-success" href="{{ path('user_new') }}">Create a new user</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!--/Form without header-->
    </section>
{% endblock %}
