{% extends 'base.html.twig' %}

{% block body %}
    <section class="section">
        <!--Form without header-->
        <div class="card">
            <div class="card-block">
                <!--Header-->
                <div class="text-xs-center">
                    <h3><i class="fa fa-lock"></i> New User</h3>
                    <hr class="mt-2 mb-2">
                </div>
                {{ include('@App/Security/_includes/userForm.html.twig') }}
                <div class="modal-footer">
                    <div class="options"><a href="{{ path('user_index') }}">Back to the list</a>
                    </div>
                </div>
            </div>
        </div>
        <!--/Form without header-->
    </section>
{% endblock %}
