{% extends 'base.html.twig' %}

{% block body %}
    <section class="section" xmlns="http://www.w3.org/1999/html">
        <!--Form without header-->
        <div class="card">
            <div class="card-block">
                <!--Header-->
                <div class="text-xs-center">
                    <h3><i class="fa fa-lock"></i>User</h3>
                    <hr class="mt-2 mb-2">
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <th>Surname</th>
                        <td>{{ user.surname }}</td>
                    </tr>
                    <tr>
                        <th>Nick</th>
                        <td>{{ user.nick }}</td>
                    </tr>
                    <tr>
                        <th>Isactive</th>
                        <td>{% if user.isActive %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <div class="options">
                        <p><a href="{{ path('user_index') }}">Back to the list</a></p>
                        <p><a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a></p>
                        {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-danger">Delete</button>
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
        <!--/Form without header-->
    </section>
{% endblock %}
