{{ form_start(form) }}
<div class="text-danger">
    {{ form_errors(form) }}
</div>
<!--Body-->
<div class="md-form">
    <i class="fa fa-envelope prefix"></i>
    {{ form_widget(form.email,{attr:{class:'form-control'}}) }}
    {{ form_label(form.email) }}
    {{ form_errors(form.email) }}
</div>
{% if form.password.first is defined %}
    <div class="md-form">
        <i class="fa fa-lock prefix"></i>
        {{ form_widget(form.password.first) }}
        {{ form_label(form.password.first) }}
        {{ form_errors(form.password.first) }}
    </div>
    <div class="md-form">
        <i class="fa fa-unlock prefix"></i>
        {{ form_widget(form.password.second) }}
        {{ form_label(form.password.second) }}
        {{ form_errors(form.password.second) }}
    </div>
{% elseif form.password is defined %}
    <div class="md-form">
        <i class="fa fa-lock prefix"></i>
        {{ form_widget(form.password) }}
        {{ form_label(form.password) }}
        {{ form_errors(form.password) }}
    </div>
{% endif %}
<div class="md-form">
    <i class="fa fa-database prefix"></i>
    {{ form_widget(form.nick,{attr:{class:'form-control'}}) }}
    {{ form_label(form.nick) }}
    {{ form_errors(form.nick) }}
</div>
<div class="md-form">
    <i class="fa fa-database prefix"></i>
    {{ form_widget(form.name,{attr:{class:'form-control'}}) }}
    {{ form_label(form.name) }}
</div>
<div class="md-form">
    <i class="fa fa-database prefix"></i>
    {{ form_widget(form.surname,{attr:{class:'form-control'}}) }}
    {{ form_label(form.surname) }}
</div>
{% if form.isActive is defined %}
    <fieldset class="form-group">
        {{ form_widget(form.isActive,{attr:{class:'form-control'}}) }}
        {{ form_label(form.isActive) }}
    </fieldset>
{% endif %}
{% if form.recaptcha is defined %}
    {{ form_widget(form.recaptcha) }}
{% endif %}
<div class="text-xs-center">
    <button class="btn btn-deep-purple">Save</button>
</div>
{{ form_end(form) }}
