<!--Double Navigation-->
<header>

    <!-- Sidebar navigation -->
    <ul id="slide-out" class="side-nav fixed custom-scrollbar">

        <!-- Logo -->
        <li>
            <div class="logo-wrapper sn-ad-avatar-wrapper">
                <img src="http://mdbootstrap.com/images/avatars/img%20(5)" class="img-fluid rounded-circle">
                <div class="rgba-stylish-strong">
                    <p class="user white-text">Julius Koronci<br> jk@web-solutions.sk
                    </p>
                </div>
            </div>
        </li>
        <!--/. Logo -->

        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-diamond"></i> Miscellaneous<i
                                class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#" class="waves-effect">Landing Page</a>
                            </li>
                            <li><a href="#" class="waves-effect">Pricing Tables</a>
                            </li>
                            <li><a href="#" class="waves-effect">Invoice</a>
                            </li>
                            <li><a href="#" class="waves-effect">Login</a>
                            </li>
                            <li><a href="#" class="waves-effect">Register</a>
                            </li>
                            <li><a href="#" class="waves-effect">Forgot password</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-home"></i> Dashboard<i
                                class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#" class="waves-effect">Analytics dashboard</a>
                            </li>
                            <li><a href="#" class="waves-effect">Social wall</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-cloud"></i> Cool Features<i
                                class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#" class="waves-effect">Calendar</a>
                            </li>
                            <li><a href="#" class="waves-effect">GMap skins</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-desktop"></i> UI Elements<i
                                class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#" class="waves-effect">Buttons</a>
                            </li>
                            <li><a href="#" class="waves-effect">Icons</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-envelope-o"></i> Outlook<i
                                class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#" class="waves-effect">Inbox</a>
                            </li>
                            <li><a href="#" class="waves-effect">Email view</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-bell"></i> SmartAdmin <i
                                class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#" class="waves-effect">App layouts</a>
                            </li>
                            <li><a href="#" class="waves-effect">Prebuilt skins</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!--/. Side navigation links -->

    </ul>
    <!--/. Sidebar navigation -->

    <!--Navbar-->
    <nav class="navbar navbar-fixed-top scrolling-navbar double-nav">

        <!-- SideNav slide-out button -->
        <div class="float-xs-left">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>

        <!-- Breadcrumb-->
        <div class="breadcrumb-dn">
            <p>Symfony Základy</p>
        </div>


        <ul class="nav navbar-nav float-xs-right">

            <li class="nav-item ">
                <a href="{{ path('igsem_admin_homepage') }}" class="nav-link"><i class="fa fa-envelope"></i> <span
                            class="hidden-sm-down">Admin</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link"><i class="fa fa-comments-o"></i> <span class="hidden-sm-down">Support</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link"><i class="fa fa-user"></i> <span class="hidden-sm-down">Account</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Profile</a>
                <div class="dropdown-menu dropdown-primary dd-right" aria-labelledby="dropdownMenu1"
                     data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    {% if is_granted('ROLE_USER') %}
                        <a class="dropdown-item" href="{{ path('logout') }}">Logout</a>
                    {% endif %}
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>

    </nav>
    <!--/.Navbar-->

</header>
<!--/Double Navigation-->