<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}Vitajte{% endblock %} | Symfony Skolenie</title>


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bundled styles -->
    <link href="{{ asset('assets/dist/bundled.min.css') }}" rel="stylesheet">
    <!-- Pre pripad ze potrebujeme debugovat -->
    {#<link href="{{ asset('assets/dist/bundled.css') }}" rel="stylesheet">#}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="{% block bodyClass %}fixed-sn{% endblock %} graphite-skin">
{% block header %}
    {{ include('::_header.html.twig') }}
{% endblock %}
<!--Main layout-->
<main class="">
    <div class="container-fluid" style="min-height: 600px;">
        {% block body %}{% endblock %}
    </div>
</main>
{% block footer %}
    {{ include('::_footer.html.twig') }}
{% endblock %}
<!-- SCRIPTS -->

<!-- Bundled javascripts -->
<script type="text/javascript" src="{{ asset('assets/dist/bundled.min.js') }}"></script>
<!-- Pre pripad ze potrebujeme debugovat -->
{#<script type="text/javascript" src="{{ asset('assets/dist/bundled.js') }}"></script>#}
{% block javascripts %}{% endblock %}
</body>
</html>
