.select-wrapper input.select-dropdown {
  margin-left: 3rem;
  width: calc(100% - 3rem); }

.ajax-spinner {
  position: absolute;
  width: 200px;
  height: 100px;
  vertical-align: middle;
  padding-top: 27px;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 20px;
  opacity: 0.8; }

body.login {
  background: url("http://mdbootstrap.com/images/regular/nature/img%20(67)") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.login-section {
  min-width: 400px;
  width: 40%;
  margin: 80px auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9); }

/*# sourceMappingURL=main.css.map */
