{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block bodyClass %}login{% endblock %}

{% block body %}
    <section class="section login-section">
        <div class="card">
            <div class="card-block">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('login') }}" method="post">

                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input class="form-control" type="text" id="username" name="_username"
                               value="{{ last_username }}"/>
                        <label for="username">Username:</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        <label for="password">Password:</label>
                        <input class="form-control" type="password" id="password" name="_password"/>
                    </div>

                    <button class="btn btn-default" type="submit">login</button>
                    <a href="{{ path('register') }}">Register</a>
                </form>
            </div>
        </div>
    </section>
{% endblock %}