{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block bodyClass %}login{% endblock %}

{% block body %}
    <section class="section login-section">
        <!--Form without header-->
        <div class="card">
            <div class="card-block">
                <!--Header-->
                <div class="text-xs-center">
                    <h3><i class="fa fa-lock"></i> New User:</h3>
                    <hr class="mt-2 mb-2">
                </div>
                {{ include('@App/Security/_includes/userForm.html.twig') }}
                <div class="modal-footer">
                    <div class="options">
                        <p>Already a member? <a href="{{ path('login') }}">Login</a></p>
                        <p>Forgot <a href="#">Password?</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!--/Form without header-->
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $('.mdb-select').material_select();
    </script>
{% endblock %}