{% extends "::base.html.twig" %}

{% block body %}
    <section className="section">
        <h1>Admin</h1>
        <a href="{{ path('user_index') }}" class="btn btn-primary btn-lg waves-effect waves-light">Users</a>
        <a href="{{ path('user_new') }}" class="btn btn-secondary btn-lg waves-effect waves-light">New User</a>
    </section>
{% endblock %}